@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
body {
    font-family: 'Fira code', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #100c1b; /* cor de fundo principal */
    color: #ffffff; /* cor do texto */
    position: relative; /* Permitir que os emojis sejam posicionados */
}

.container {
    text-align: center;
    width: 400px;
    padding: 20px;
    z-index: 1; /* Garantir que o conteúdo fique na frente dos emojis */
}

.color-picker {
    background-color: #0a0713; /* cor do fundo do card */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 300px; /* Altura máxima do card */
    overflow-y: auto; /* Habilitar a barra de rolagem vertical */
}

.color-css {
    background-color: #0a0713; /* cor do fundo do card */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.color-input {
    width: calc(100% - 16px); /* Considerando o padding */
    margin-bottom: 20px; /* Espaço extra entre o input e o próximo elemento */
    margin-top: 10px; /* Margem superior para separá-lo do .color-preview */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ffffff; /* cor da borda do campo de entrada */
    border-radius: 5px;
    color: #ffffff; /* cor do texto do campo de entrada */
    background-color: #140f27; /* cor de fundo do campo de entrada */
    margin: 0 auto; /* centralizar horizontalmente */
}


.color-preview {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display:  none;
}
.color-preview2 {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.color-display {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 6px;
}

.color-item {
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
    width: 40px;
    height: 20px;
}


.clear-button, .copy-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1e163a; /* cor do botão */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* cor do texto do botão */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear-button:hover, .copy-button:hover {
    background-color: #281e4e; /* cor do botão ao passar o mouse */
}

.coffee-button {
    padding: 15px 30px;
    background-color: #e0d143; /* cor do botão de doação */
    border: none;
    border-radius: 5px;
    color: black; /* cor do texto do botão de doação */
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.coffee-button:hover {
    background-color: #c09316; /* cor do botão de doação ao passar o mouse */
    transform: scale(1.3);
}

/* Estilos para emojis */
.emoji {
    position: absolute;
    font-size: 2rem;
    opacity: 0.3;
}

/* Posicionamento dos emojis
.emoji-1 { top: 10%; left: 10%; }
.emoji-2 { top: 20%; left: 20%; }
.emoji-3 { top: 30%; left: 30%; }
.emoji-4 { top: 40%; left: 40%; }
.emoji-5 { top: 50%; left: 50%; }
.emoji-6 { top: 60%; left: 60%; }
.emoji-7 { top: 70%; left: 70%; }
.emoji-8 { top: 80%; left: 80%; }
.emoji-9 { top: 90%; left: 90%; }
.emoji-10 { top: 15%; left: 80%; }
.emoji-11 { top: 25%; left: 70%; }
.emoji-12 { top: 35%; left: 60%; }
.emoji-13 { top: 45%; left: 50%; }
.emoji-14 { top: 55%; left: 40%; }
.emoji-15 { top: 65%; left: 30%; }
.emoji-16 { top: 75%; left: 20%; }
.emoji-17 { top: 85%; left: 10%; } */

h1 {
    font-size: 2.5rem; /* Reduzi o tamanho da fonte */
    text-align: center;
    height: auto; /* Removi a altura fixa */
    line-height: 1; /* Defini a altura da linha como 1 para evitar espaçamento extra */
    color: #ffffff;
    background: #0a0713;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    border-radius:  10px;
    /* Removi o text-shadow para simplificar */
}

code {
   
   
    background-color: #0a0713; /* cor do botão */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* cor do texto do botão */
    font-size: 16px;
    cursor: pointer;
}


.color-red { color: #4169E1;  font-family: "Fredericka the Great", serif; font-weight: 400; font-style: normal;}
.color-orange { color: #00FA9A; font-family: "Fredericka the Great", serif; font-weight: 400; font-style: normal;}
.color-yellow { color: #DC143C;  font-family: "Fredericka the Great", serif; font-weight: 400; font-style: normal;}
.color-green { color: #FF0000; font-family: "Fredericka the Great", serif; font-weight: 400; font-style: normal;}
.color-blue { color: #FFFF00;  font-family: "Fredericka the Great", serif; font-weight: 400; font-style: normal;}
.color-purple { color: #FFFFFF;  font-family: "Fredericka the Great", serif; font-weight: 400; font-style: normal;}


main {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0a0713;
  }
  
  h3 {
    color: #616161;
  }
  
  .divColors {
    text-align: center;
  }
  
  input[type="color"] {
    border: none;
    background: transparent;
    width: 80px;
    height: 40px;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
  }
  
  .divDirection > i {
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
  }
  
  .active {
    color: black!important;
  }
  
  button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#1e163a;
    cursor: pointer;
  }
  
  textarea {
    resize: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #140f27;
  }
